<a href="https://colab.research.google.com/github/raghavdw/Euler_Project_Solutions/blob/main/EulerProjectArchives_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Euler Problem 1

https://projecteuler.net/problem=1

## If we list all the natural numbers below $10$ that are multiples of $3$ or $5$, we get $3, 5, 6, $ and $9$. The sum of these multiples is $23$.

## Find the sum of all the multiples of or below $1000$.

##### Method 1: loop, range, condition

In [ ]:
def select(n: int) -> bool:
    return n % 3 == 0 or n % 5 == 0

def euler001_1(limit:int) -> int:
    n, total = 1, 0
    while n < limit:
        if select(n):
            total += n
        n += 1
    return total

In [ ]:
print(euler001_1(10))
print(euler001_1(1000))

23
233168

##### Method 2: loop, range, condition

In [ ]:
def euler001_2(limit: int) -> int:
    total = 0
    for n in range(1, limit):
        if select(n):
            total += n
    return total

In [ ]:
print(euler001_2(1000))

233168

##### Method 3: range,multiples

In [ ]:
def euler001_3(limit: int) -> int:
    return sum(range(3,limit,3)) +\
           sum(range(5,limit,5)) -\
           sum(range(15,limit,15))

In [ ]:
print(euler001_3(1000))

233168

##### Method 4: Multiples, range

In [ ]:
def multiples(of:int, upto: int) -> range:
    return range(of, upto, of)

In [ ]:
def euler001_4(limit: int) -> int:
    return sum(set(multiples(3,limit)) | set(multiples(5, limit)))

In [ ]:
print(euler001_4(1000))

233168

##### Method 5: filter(condition,range)

In [ ]:
def euler001_5(limit:int) -> int:
    return sum(filter(select,range(1,limit)))

In [ ]:
print(euler001_5(1000))

233168

##### Method 6: list comprehension

In [ ]:
def euler001_6(limit:int) -> int:
    return sum([i for i in range(1, limit) if select(i)])

In [ ]:
euler001_6(1000)

233168

# Euler Problem 10

https://projecteuler.net/problem=10

## The sum of prime below 10 is 2 + 3 + 5 + 7 = 17

## Find the sum of all primes below two million

 # Solution 10

 if $N$ = $a \times b$

and  

 $a > \sqrt{N} \Rightarrow b < \sqrt{N}$  

 which means if a number has no factor (except 1) below $\sqrt{N}$ it **is** a prime

##### Method 1

In [ ]:
def is_prime_number(n: int) -> bool:
    if n <= 1:
        return False
    for i in range(2,int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

In [ ]:
def euler010_1(limit: int) -> int:
    primes = [i for i in range(limit) if is_prime_number(i)]
    return sum(primes)

In [ ]:
%time
euler010_1(2000000)

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 7.63 µs

142913828922

# Euler Problem 5

https://projecteuler.net/problem=5

## $2520$ is the smallest number that can be divided by each of the numbers from $1$ to $10$ without any remainder.

## What is the smallest positive number that is **evenly divisible** divisible with no remainder by all of the numbers from $1$ to $20$?

In [ ]:
def gcd(a: int, b: int) -> int:
    if a % b == 0:
        return b
    return gcd(b, a % b)

In [ ]:
def lcm2(a: int, b: int) -> int:
    return (a * b) // gcd(a,b)

In [ ]:
def lcm(nums: list[int]) -> int:
    if len(nums) == 1:
        return nums[0]
    elif len(nums) == 2:
        return lcm2(nums[0],nums[1])
    else:
        #return lcm2(nums[0], lcm(nums[1:]))
        #return lcm2(lcm2(nums[0],nums[1]),lcm(nums[2:]))
        return lcm([lcm2(nums[0],nums[1])] + nums[2:])

In [ ]:
lcm(list(range(1,21)))

232792560

## Understanding anothr functional programming pillar of *Reduce* that can be used in reducing the first two elements in a list using a function and applying the function recursively to the list -1 elements again

## Reduce(f, S) -> Reduce(f,[f(S[0],S[1])] + S[2:])

In [ ]:
import functools as ft

def gcd(a: int, b: int) -> int:
    if a % b == 0:
        return b
    else:
        return gcd(b,a % b)

def lcm2(a: int, b: int) -> int:
    return (a * b) // gcd(a,b)

def lcm_with_reduce(nums: list[int]) -> int:
    return ft.reduce(lcm2, nums)

In [ ]:
lcm_with_reduce(range(1,21))

232792560

# FIZZBUZZ Problem

The FizzBuzz problem is a classic test given in coding interviews.

The task is simple: Print integers 1 to N, but print “Fizz” if an integer is divisible by 3,

“Buzz” if an integer is divisible by 5,

and “FizzBuzz” if an integer is divisible by both 3 and 5.

In [ ]:
def make_fizzbuzz(f, limit: int) -> list[str]:
    return [f(_) for _ in range(1,limit)]

##### Method 1: function for 1 number

In [ ]:
def fizzbuzz1(n: int) -> str:
    if n % 15 == 0:
        return "FizzBuzz"
    elif n % 3 == 0:
        return "Fizz"
    elif n % 5 == 0:
        return "Buzz"
    else:
        return str(n)

In [ ]:
make_fizzbuzz(fizzbuzz1,21)

['1',
 '2',
 'Fizz',
 '4',
 'Buzz',
 'Fizz',
 '7',
 '8',
 'Fizz',
 'Buzz',
 '11',
 'Fizz',
 '13',
 '14',
 'FizzBuzz',
 '16',
 '17',
 'Fizz',
 '19',
 'Buzz']

##### Method 2: function for 2 numbers

In [ ]:
def fizzbuzz2(n: int) -> str:
    fb = ""
    if n % 3 == 0:
        fb += "Fizz"
    if n % 5 == 0:
        fb += "Buzz"
    if len(fb) == 0:
        return str(n)
    else:
        return fb

##### Method 3: function with 3 numbers

In [ ]:
divisors = {3:"Fizz",5: "Buzz"}

In [ ]:
def fizzbuzz3(divisors: dict, n:int) -> str:
    fb = ""
    for d in sorted(divisors.keys()):
        if n % d == 0:
            fb += divisors[d]
    if len(fb) == 0:
        return str(n)
    else:
     return(fb)

In [ ]:
fizzbuzz3(divisors, 15)

'FizzBuzz'

##### Method 4: list of 15 strings

In [ ]:
def fizzbuzz4(n: int) -> str:
    fbs = ["FizzBuzz", "", "", "Fizz", "", "Buzz", "Fizz", "", "", "Fizz", "Buzz", "", "Fizz", "", ""]
    pos = n % 15
    if fbs[pos] == "":
        return str(n)
    else:
        return fbs[pos]

In [ ]:
make_fizzbuzz(fizzbuzz4, 16)

['1',
 '2',
 'Fizz',
 '4',
 'Buzz',
 'Fizz',
 '7',
 '8',
 'Fizz',
 'Buzz',
 '11',
 'Fizz',
 '13',
 '14',
 'FizzBuzz']

##### Method 5: Dictionary keys as tuple

In [ ]:
def fizzbuzz5(n: int) -> str:
    fbs = {(True, True): "FizzBuzz",
           (True, False): "Fizz",
           (False, True): "Buzz",
           (False, False): str(n)}
    return fbs[(n % 3 == 0, n % 5 == 0)]

In [ ]:
make_fizzbuzz(fizzbuzz5, 16)

['1',
 '2',
 'Fizz',
 '4',
 'Buzz',
 'Fizz',
 '7',
 '8',
 'Fizz',
 'Buzz',
 '11',
 'Fizz',
 '13',
 '14',
 'FizzBuzz']

##### Method 6: list with index derived from divisisibility conditions

In [ ]:
def pick(n: int) -> int:
    return 2 * int(n % 5 == 0) + int(n % 3 == 0)

def fizzbuzz6(n: int) -> str:
    return [str(n), "Fizz", "Buzz", "FizzBuzz"][pick(n)]

In [ ]:
make_fizzbuzz(fizzbuzz6, 16)

['1',
 '2',
 'Fizz',
 '4',
 'Buzz',
 'Fizz',
 '7',
 '8',
 'Fizz',
 'Buzz',
 '11',
 'Fizz',
 '13',
 '14',
 'FizzBuzz']

##### Method 7: slicing

In [ ]:
def make_fizzbuzz2(limit: int) -> list[str]:
    fbs = [str(n) for n in range(limit)]
    fbs[::3] = ["Fizz"] * len(fbs[::3])
    fbs[::5] = ["Buzz"] * len(fbs[::5])
    fbs[::15] = ["FizzBuzz"] * len(fbs[::15])
    return fbs[1:]

In [ ]:
make_fizzbuzz2(16)

['1',
 '2',
 'Fizz',
 '4',
 'Buzz',
 'Fizz',
 '7',
 '8',
 'Fizz',
 'Buzz',
 '11',
 'Fizz',
 '13',
 '14',
 'FizzBuzz']

# Euler Problem 4
## A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is $9009$ = $91$ x $99$.

##Find the largest palindrome made from the product of two 3-digit numbers.

In [ ]:
def reversing(s: str) -> str:
    return s[::-1]

In [ ]:
n = "9192"
n_reverse = n[::-1]
n_reverse

'2919'

In [ ]:
def is_product_palindrome(i: int, j: int) -> bool:
    return str(i * j) == str(i * j)[::-1]

In [ ]:
def find_palindrome(limit: int) -> str:
    palindrome2 = {}
    for i in range(100,limit,1):
        for j in range (100,limit,1):
            if is_product_palindrome(i, j):
                palindrome2[(i,j)] = i * j
    return max(palindrome2, key=palindrome2.get), max(palindrome2.values())

In [ ]:
find_palindrome(1000)

((913, 993), 906609)

# Euler Problem 3: Largest Prime Factor
 https://projecteuler.net/problem=3
<p>The prime factors of $13195$ are $5, 7, 13$ and $29$.</p>
<p>What is the largest prime factor of the number $600851475143$?</p>

In [ ]:
def factorize(n : int) -> list[int]:
    factors = []
    r = 3
    if n % 2 == 0:
        factors.append(2)
        n //= 2
    while n > 1:
        while n % r == 0:
            factors.append(r)
            n //= r
        r += 2
    return factors

In [ ]:
max(factorize(600851475143))

6857

# Euler Problem 8: Largest Product in a Series

https://projecteuler.net/problem=8

# <p>The four adjacent digits in the $1000$-digit number that have the greatest product are $9 \times 9 \times 8 \times 9 = 5832$.</p>
<p class="monospace center">
73167176531330624919225119674426574742355349194934<br>
96983520312774506326239578318016984801869478851843<br>
85861560789112949495459501737958331952853208805511<br>
12540698747158523863050715693290963295227443043557<br>
66896648950445244523161731856403098711121722383113<br>
62229893423380308135336276614282806444486645238749<br>
30358907296290491560440772390713810515859307960866<br>
70172427121883998797908792274921901699720888093776<br>
65727333001053367881220235421809751254540594752243<br>
52584907711670556013604839586446706324415722155397<br>
53697817977846174064955149290862569321978468622482<br>
83972241375657056057490261407972968652414535100474<br>
82166370484403199890008895243450658541227588666881<br>
16427171479924442928230863465674813919123162824586<br>
17866458359124566529476545682848912883142607690042<br>
24219022671055626321111109370544217506941658960408<br>
07198403850962455444362981230987879927244284909188<br>
84580156166097919133875499200524063689912560717606<br>
05886116467109405077541002256983155200055935729725<br>
71636269561882670428252483600823257530420752963450<br></p>
<p>Find the thirteen adjacent digits in the $1000$-digit number that have the greatest product. What is the value of this product?</p>

In [3]:
euler8_number = "73167176531330624919225119674426574742355349194934\
96983520312774506326239578318016984801869478851843\
85861560789112949495459501737958331952853208805511\
12540698747158523863050715693290963295227443043557\
66896648950445244523161731856403098711121722383113\
62229893423380308135336276614282806444486645238749\
30358907296290491560440772390713810515859307960866\
70172427121883998797908792274921901699720888093776\
65727333001053367881220235421809751254540594752243\
52584907711670556013604839586446706324415722155397\
53697817977846174064955149290862569321978468622482\
83972241375657056057490261407972968652414535100474\
82166370484403199890008895243450658541227588666881\
16427171479924442928230863465674813919123162824586\
17866458359124566529476545682848912883142607690042\
24219022671055626321111109370544217506941658960408\
07198403850962455444362981230987879927244284909188\
84580156166097919133875499200524063689912560717606\
05886116467109405077541002256983155200055935729725\
71636269561882670428252483600823257530420752963450"

In [5]:
def num_prod(nums: str) -> int:
    num_product = 1
    for ch in nums:
        num_product *= int(ch)
    return num_product

In [1]:
def rolling_window(nums: str, window_size: int) -> tuple:
    max_prod = 0
    max_window_start = 0
    for start in range(len(nums) + 1 - window_size):
        window = nums[start: start + window_size]
        window_prod = num_prod(window)
        if max_prod < window_prod:
            max_prod = window_prod
            max_window_start = start
    return nums[max_window_start: max_window_start + window_size], max_prod

In [6]:
rolling_window(euler8_number,13)

('5576689664895', 23514624000)

# Euler Problem 21: Amicable Numbers

<p>Let $d(n)$ be defined as the sum of proper divisors of $n$ (numbers less than $n$ which divide evenly into $n$).<br>
If $d(a) = b$ and $d(b) = a$, where $a \ne b$, then $a$ and $b$ are an amicable pair and each of $a$ and $b$ are called amicable numbers.</p>
<p>For example, the proper divisors of $220$ are $1, 2, 4, 5, 10, 11, 20, 22, 44, 55$ and $110$; therefore $d(220) = 284$. The proper divisors of $284$ are $1, 2, 4, 71$ and $142$; so $d(284) = 220$.</p>
<p>Evaluate the sum of all the amicable numbers under $10000$.</p>

In [45]:
def divisors(num: int) -> list[int]:
    '''aliquot of a number is defined as the sum of proper divisors of N
    that is numbers less than N which divide evenly into N. '''
    r = 2
    aliquot = 1
    while r * r < num:
        if num % r == 0:
            aliquot += r + (num//r)
        r += 1
    if (num // r) == r:
        aliquot += r
    return aliquot

In [46]:
divisors(220)

284

In [51]:
def amicability(num: int) -> list[tuple]:
    amicable_pairs = []
    for i in range(num):
        divisors_sum = divisors(i)
        if divisors_sum > i:
            if divisors(divisors_sum) == i:
                amicable_pairs.append((i,divisors_sum))
    return amicable_pairs

In [53]:
amicability(10000)

[(220, 284), (1184, 1210), (2620, 2924), (5020, 5564), (6232, 6368)]