<a href="https://colab.research.google.com/github/raghavdw/Euler_Project_Solutions/blob/main/EulerProjectArchives_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Euler Problem 1

https://projecteuler.net/problem=1

## If we list all the natural numbers below $10$ that are multiples of $3$ or $5$, we get $3, 5, 6, $ and $9$. The sum of these multiples is $23$.

## Find the sum of all the multiples of or below $1000$.

##### Method 1: loop, range, condition

In [22]:
def select(n: int) -> bool:
    return n % 3 == 0 or n % 5 == 0

def euler001_1(limit:int) -> int:
    n, total = 1, 0
    while n < limit:
        if select(n):
            total += n
        n += 1
    return total

In [23]:
print(euler001_1(10))
print(euler001_1(1000))

23
233168

##### Method 2: loop, range, condition

In [24]:
def euler001_2(limit: int) -> int:
    total = 0
    for n in range(1, limit):
        if select(n):
            total += n
    return total

In [25]:
print(euler001_2(1000))

233168

##### Method 3: range,multiples

In [26]:
def euler001_3(limit: int) -> int:
    return sum(range(3,limit,3)) +\
           sum(range(5,limit,5)) -\
           sum(range(15,limit,15))

In [27]:
print(euler001_3(1000))

233168

##### Method 4: Multiples, range

In [28]:
def multiples(of:int, upto: int) -> range:
    return range(of, upto, of)

In [29]:
def euler001_4(limit: int) -> int:
    return sum(set(multiples(3,limit)) | set(multiples(5, limit)))

In [30]:
print(euler001_4(1000))

233168

##### Method 5: filter(condition,range)

In [31]:
def euler001_5(limit:int) -> int:
    return sum(filter(select,range(1,limit)))

In [32]:
print(euler001_5(1000))

233168

##### Method 6: list comprehension

In [33]:
def euler001_6(limit:int) -> int:
    return sum([i for i in range(1, limit) if select(i)])

In [34]:
euler001_6(1000)

233168

# Euler Problem 10

https://projecteuler.net/problem=10

## The sum of prime below 10 is 2 + 3 + 5 + 7 = 17

## Find the sum of all primes below two million

 # Solution 10

 if $N$ = $a \times b$

and  

 $a > \sqrt{N} \Rightarrow b < \sqrt{N}$  

 which means if a number has no factor (except 1) below $\sqrt{N}$ it **is** a prime

##### Method 1

In [ ]:
def is_prime_number(n: int) -> bool:
    if n <= 1:
        return False
    for i in range(2,int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

In [ ]:
def euler010_1(limit: int) -> int:
    primes = [i for i in range(limit) if is_prime_number(i)]
    return sum(primes)

In [ ]:
%time
euler010_1(2000000)

CPU times: user 4 Âµs, sys: 0 ns, total: 4 Âµs
Wall time: 7.63 Âµs

142913828922

# Euler Problem 5

https://projecteuler.net/problem=5

## $2520$ is the smallest number that can be divided by each of the numbers from $1$ to $10$ without any remainder.

## What is the smallest positive number that is **evenly divisible** divisible with no remainder by all of the numbers from $1$ to $20$?

In [1]:
def gcd(a: int, b: int) -> int:
    if a % b == 0:
        return b
    return gcd(b, a % b)

In [2]:
def lcm2(a: int, b: int) -> int:
    return (a * b) // gcd(a,b)

In [3]:
def lcm(nums: list[int]) -> int:
    if len(nums) == 1:
        return nums[0]
    elif len(nums) == 2:
        return lcm2(nums[0],nums[1])
    else:
        #return lcm2(nums[0], lcm(nums[1:]))
        #return lcm2(lcm2(nums[0],nums[1]),lcm(nums[2:]))
        return lcm([lcm2(nums[0],nums[1])] + nums[2:])

In [20]:
lcm(list(range(1,21)))

232792560

## Understanding anothr functional programming pillar of *Reduce* that can be used in reducing the first two elements in a list using a function and applying the function recursively to the list -1 elements again

## Reduce(f, S) -> Reduce(f,[f(S[0],S[1])] + S[2:])

In [6]:
import functools as ft

def gcd(a: int, b: int) -> int:
    if a % b == 0:
        return b
    else:
        return gcd(b,a % b)

def lcm2(a: int, b: int) -> int:
    return (a * b) // gcd(a,b)

def lcm_with_reduce(nums: list[int]) -> int:
    return ft.reduce(lcm2, nums)

In [21]:
lcm_with_reduce(range(1,21))

232792560

# FIZZBUZZ Problem

The FizzBuzz problem is a classic test given in coding interviews.

The task is simple: Print integers 1 to N, but print âFizzâ if an integer is divisible by 3,

âBuzzâ if an integer is divisible by 5,

and âFizzBuzzâ if an integer is divisible by both 3 and 5.

In [35]:
def make_fizzbuzz(f, limit: int) -> list[str]:
    return [f(_) for _ in range(1,limit)]

##### Method 1: function for 1 number

In [36]:
def fizzbuzz1(n: int) -> str:
    if n % 15 == 0:
        return "FizzBuzz"
    elif n % 3 == 0:
        return "Fizz"
    elif n % 5 == 0:
        return "Buzz"
    else:
        return str(n)

In [37]:
make_fizzbuzz(fizzbuzz1,21)

['1',
 '2',
 'Fizz',
 '4',
 'Buzz',
 'Fizz',
 '7',
 '8',
 'Fizz',
 'Buzz',
 '11',
 'Fizz',
 '13',
 '14',
 'FizzBuzz',
 '16',
 '17',
 'Fizz',
 '19',
 'Buzz']

##### Method 2: function for 2 numbers

In [38]:
def fizzbuzz2(n: int) -> str:
    fb = ""
    if n % 3 == 0:
        fb += "Fizz"
    if n % 5 == 0:
        fb += "Buzz"
    if len(fb) == 0:
        return str(n)
    else:
        return fb

##### Method 3: function with 3 numbers

In [39]:
divisors = {3:"Fizz",5: "Buzz"}

In [40]:
def fizzbuzz3(divisors: dict, n:int) -> str:
    fb = ""
    for d in sorted(divisors.keys()):
        if n % d == 0:
            fb += divisors[d]
    if len(fb) == 0:
        return str(n)
    else:
     return(fb)

In [41]:
fizzbuzz3(divisors, 15)

'FizzBuzz'

##### Method 4: list of 15 strings

In [42]:
def fizzbuzz4(n: int) -> str:
    fbs = ["FizzBuzz", "", "", "Fizz", "", "Buzz", "Fizz", "", "", "Fizz", "Buzz", "", "Fizz", "", ""]
    pos = n % 15
    if fbs[pos] == "":
        return str(n)
    else:
        return fbs[pos]

In [43]:
make_fizzbuzz(fizzbuzz4, 16)

['1',
 '2',
 'Fizz',
 '4',
 'Buzz',
 'Fizz',
 '7',
 '8',
 'Fizz',
 'Buzz',
 '11',
 'Fizz',
 '13',
 '14',
 'FizzBuzz']

##### Method 5: Dictionary keys as tuple

In [44]:
def fizzbuzz5(n: int) -> str:
    fbs = {(True, True): "FizzBuzz",
           (True, False): "Fizz",
           (False, True): "Buzz",
           (False, False): str(n)}
    return fbs[(n % 3 == 0, n % 5 == 0)]

In [45]:
make_fizzbuzz(fizzbuzz5, 16)

['1',
 '2',
 'Fizz',
 '4',
 'Buzz',
 'Fizz',
 '7',
 '8',
 'Fizz',
 'Buzz',
 '11',
 'Fizz',
 '13',
 '14',
 'FizzBuzz']

##### Method 6: list with index derived from divisisibility conditions

In [46]:
def pick(n: int) -> int:
    return 2 * int(n % 5 == 0) + int(n % 3 == 0)

def fizzbuzz6(n: int) -> str:
    return [str(n), "Fizz", "Buzz", "FizzBuzz"][pick(n)]

In [47]:
make_fizzbuzz(fizzbuzz6, 16)

['1',
 '2',
 'Fizz',
 '4',
 'Buzz',
 'Fizz',
 '7',
 '8',
 'Fizz',
 'Buzz',
 '11',
 'Fizz',
 '13',
 '14',
 'FizzBuzz']

##### Method 7: slicing

In [48]:
def make_fizzbuzz2(limit: int) -> list[str]:
    fbs = [str(n) for n in range(limit)]
    fbs[::3] = ["Fizz"] * len(fbs[::3])
    fbs[::5] = ["Buzz"] * len(fbs[::5])
    fbs[::15] = ["FizzBuzz"] * len(fbs[::15])
    return fbs[1:]

In [49]:
make_fizzbuzz2(16)

['1',
 '2',
 'Fizz',
 '4',
 'Buzz',
 'Fizz',
 '7',
 '8',
 'Fizz',
 'Buzz',
 '11',
 'Fizz',
 '13',
 '14',
 'FizzBuzz']